body {
    background-color: #fbcbc9;
    padding: 10px;
}
header {
    padding: 20px;
}
h1 {
    text-align:left;
}
.container {
    display:flex;
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
    height: 300px;

}

.cake-categories {
    height: 30px;

    vertical-align: text-top;
}
#menu{
    height: auto;
    width: auto;

}
.birthdayCakes {
    display:grid;
    grid-template-columns: auto 275px 1fr 1fr 1fr;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #322514;
}
#menu li {
    float:left;

}
#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
#menu li a:hover {
    color:#e75874;
}
#menu ul li ul {
    display:none;
}
#menu ul li:hover ul {
    display:block;
}
#menu li:hover ul li {
    float:none;
}
#menu li ul {
    position:absolute;
}
footer{
    background-color: #322514;
    height: auto;
    width: 1200px;
    color: white;
    text-align: center;

}
.title{
    text-align: center;
    color: #322514;
}
.intro{
    text-align: center;
    font-family:'Montserrat',serif ;
    font-size: xx-large;
}
.container{
    display: grid;
    grid-template-arows: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    height:max-content;
    object-fit: contain;

}
.img{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    align-items: center;


}
.top{
    display: flex;
    justify-content: center;

}