<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class = "Giant Eagle cakes">
    <ul>
        <li><a href="./wedding-cakes.html">Wedding Cake</a></li>
        <li><a href="./birthday-cakes.html">Birthday Cake</a></li>
    </ul>
</section>
<main>
    <h2 th:text="${CakeType.name} + '\'s Reviews'">Birthday Cake's Reviews</h2>
    <ul>
       <li th:each="Review: ${CakeType.items}"><a th:href="'/sample-cake-item/' + ${Review.id}" th:text="${CakeType.name}"></a></li>


    </ul>



</main>


</body>
</html>





