<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
    <div class="header">

        <div class="top">
            <img src="images/header2.PNG"
                 height="300"
                 width="1000"
            />
        </div>
        <nav id="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="categories-template">Categories</a>
                    <ul>
                        <li><a href="/sample-cake-type/1">Wedding Cakes</a></li>
                        <li><a href="/sample-cake-type/2">Birthday Cakes</a></li>
                    </ul>
                </li>
                <li><a href="/all-reviews">Reviews</a>


                </li>
                <li><a href="hashtags-template">#</a>
                    <ul>
                        <li><a href="./sample-cake-type/1">Chocolate Cake</a></li>
                        <li><a href="./sample-cake-type/2">Vanilla Cake</a></li>
                    </ul>

                </li>
            </ul>
        </nav>

    </div>
</header>

<div class="container">
    <div>
        <p class="intro">
            Welcome to SLBS Review Cake Company. We are happy to help you find the best cake for your special occasion
            by listing cakes reviews for a wedding or birthday.
        </p>
    </div>

</div>

<section class = "Good and Poor reviews">



</section>
    <form action="Comment" method="post">
        <p>Leave a comment</p>
        <input type="text" name="newComment"/>
        <button type="submit">Add Comment</button>
    </form>
    <footer>
        <h3>Copyright 2021 SLBS</h3>
    </footer>

</body>
</html>