<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <h2 th:text="${ReviewCakeItem.getType()} + '\'s Reviews'">Jordan's Todo list</h2>
    <p th:text="${ReviewCakeItem.getFlavor()}">Grade Work</p>
    <p th:text="${ReviewCakeItem.getIcing()}">Urgent</p>
    <p th:text="${ReviewCakeItem.getPrice()}">WCCI</p>
    <p th:text="${ReviewCakeItem.getShape()}">Grade work and give feedback to Cohort</p>
    <p th:text="${ReviewCakeItem.getDescription()}">Grade work and give feedback to Cohort</p>
    <p th:text="${ReviewCakeItem.getId()}">Grade work and give feedback to Cohort</p>
</main>

</body>
</html>