<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${CakeReview.type.name}">Cake template works!</p>
<p th:text="${CakeReview.flavor}">Cake template works!</p>
<p th:text="${CakeReview.description}">Cake template works!</p>
<p th:text="${CakeReview.price}">Cake template works!</p>
<p th:text="${CakeReview.icing}">Cake template works!</p>
<p th:text="${CakeReview.shape}">Cake template works!</p>
<p th:each="hashtag:${hashtags}" th:text="${hashtag.name}"></p>

<div th:each="comment:${comments}">
<p th:text="${comment.comment}"></p>
</div>

<form th:action="'/Comment/'+ ${CakeReview.id}" method="post">
    <p>Leave a comment</p>
    <input type="text" name="newComment"/>
    <button type="submit">Add Comment</button>
</form>

<form th:action="'/addHashtag/'+ ${CakeReview.id}" method="post">
    <p>Add a Hashtag</p>
    <input type="text" name="newHashtag"/>
    <button type="submit">Add Hashtag</button>
</form>

</body>
</html>