<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <h2 th:text="${ReviewCakeItem.getType()} + '\'s Reviews'">Wedding Cake's Reviews</h2>
    <p th:text="${ReviewCakeItem.getFlavor()}">Chocolate</p>
    <p th:text="${ReviewCakeItem.getIcing()}">Whipped Cream</p>
    <p th:text="${ReviewCakeItem.getPrice()}">500.00</p>
    <p th:text="${ReviewCakeItem.getShape()}">Round</p>
    <p th:text="${ReviewCakeItem.getDescription()}">Delicious cake!</p>
    <p th:text="${ReviewCakeItem.getId()}">ID: 2</p>
</main>

</body>
</html>